* {
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
/* Some variables */
:root {
    --main-color:#ff2c1f;
    --text-color:#020307;
    --bg-color: #fff;

}
/*Custom scroll bar*/
html::-webkit-scrollbar {
    width: 0.5rem;
    background: var(--text-color);
}
html::-webkit-scrollbar-thumb {
    background:var(--main-color);
    border-radius: 5rem;


/*---Modal---*/
}
.signup-form,
.login-form  {
    z-index: 4;
     position: absolute;
     top: 45%;
     left: 50%;
     transform: translate(-50%, -50%);
     background: #171010;
     border-radius: 10px;
     box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, .2);
     color: white;
     transition: .5s;
     visibility: hidden;
     opacity: 0;

}

.form {
    width: 500px;
    padding: 20px 50px;
}
.form .close {
    text-align: right;
    cursor: pointer;
}
.form .text h1 {
    text-align: center;
    margin: 30px 0;
}
.form form {
    display: block;
    margin: auto ;
}
.form .row {
    display: flex;
    justify-content: space-between;
} 
.form .row input {
   margin-bottom: 0;
}
.form .row input:first-child{
     margin-right: 10px;
}
.form .row input:last-child{
    margin-left: 10px;
}
.form form input {
    width: 100%;
    display: block;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 20px 16px;
    margin: 20px auto;
    outline: none;
}
.signup-form.active,
.login-form.active {
    top: 55%;
    transition: .5s;
    visibility: visible;
    opacity: 1;
}
/*---End of Modal---*/


.container.active {
    filter: blur(20px);
    transition: .5s;
    pointer-events: none;
}

section  {
    padding: 4.5rem 0 1.5rem;
}
body {
    color: var(--bg-color);
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    transition: 0.5s;
    /*background-color: var(--main-color);*/
}
header.shadow {
    background: #171010;
    box-shadow: 0 0 4px rgb(14, 55, 54 / 15%);
}
header.shadow .navbar li {
    color: white;
}
.logo {
    font-size: 1.1.rem;
    font-weight: 600;
    color: var(--bg-color);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    color:red;
}
.logo .uil {
    font-size: 24px;
    color: var(--main-color);
}
.navbar {
    display: flex;
    column-gap: 2.5rem;
}
.navbar li {
    position: relative;
    cursor: pointer;
    color: rgb(75, 73, 73);
}
.navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(82, 80, 80);
}
.navbar li::after {
    content: '';
    width: 0;
    height: 2px;
    background: white;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s all  linear;
}
.navbar li:hover::after {
    width: 100%;
    
}
#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 100001;
    display: none;
}
.btn {
    padding: 0.7rem 1.4rem;
    background: gray;
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
}

.btn:hover {
    background: #171010;
}


hr {
    border-color: red;
}

.container {
    position: relative;
    top: 50px;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;

}
.row {
    width: 100%;
    padding: 50px 100px;

}
.image-section{
    width: 30%;
    float: left;

}
.image-section img {
   width:100%;
   height: auto;
}
.content {
    width: 60%;
    float: left;
    margin-left: 50px;
    color: #171010;
}
.content h1 {
    font-size: 60px;
    letter-spacing: 3.5px;
    margin-top: 25px;
    font-weight: bold;
    color: red;

}
.content h2 {
    font-style: 40px;
    font-family: sans-serif;
    margin-top: 25px;

}
.content p {
    font-size: 20px;
    margin-top: 10px;
    line-height: 1.5;
}
@media screen and (max-width: 768px) {
    .image-section {
        width: 100%;
        float: none;
    }
    .content {
        width: 100%;
        float: none;
        margin-left: 0px;
    }
    .content h1 {
        font-size: 60px;
        letter-spacing: 2px;
        margin-top: 30px;
    
    }
    .content h2 {
        font-style: 30px;
    
    }
    .content p {
        font-size: 18px;
    }
}
@media (max-width: 1080px) {
    .home-text {
        padding: 0 100px;
    }
}
@media (max-width: 991px) {
    .header {
        padding: 18px 4%;
    }
    section {
        padding: 50px 4%;
    }
    .home-text {
        padding: 0 4%;
    }
    .home-text h1 {
        font-size: 3rem;
    }
}
@media (max-width: 774px) {
    header {
        padding: 12px 4%;
    }
    #menu-icon {
        display: initial;
        color: black;
    }
    .container .box {
        width: 700px;
        margin: 5px;
    }
    .header.shadow #menu-icon {
        color: var(--bg-color);

    }
    .navbar {
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: white;
        row-gap: 1.4rem;
        padding: 20px;
        box-shadow: 4px 4px 0 4px rgb(14, 55, 54/ 15%);
        transition: 0.2s all linear;
        text-align: center;
    }
    .navbar a {
        color: rgb(73, 73, 73);
        width: 100%;
    }
    .navbar a:hover {
        color: gray;
        border-bottom: 1px solid var(--bg-color);
    }
    .navbar a::after {
        display: none;
    }
  
    }
    .navbar.active{
        top: 100%;
    }
    .home-text h1 {
        font-size: 2.4rem;
    }
    .btn {
        padding: 0.6rem 1.2rem;
    }
    .movies-container {
        grid-template-columns: repeat(auto-fit,minmax(180px,auto));
    }
    .footer {
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
      }
      .container .box {
        width: 100%;
        margin: 5px;
    }

@media (max-width:472px) {
  .newsletter form .email {
    width: auto;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }
  .coming {
    width: 230%;
    height: 100%;
    object-fit: cover;
}
.box {
    width: 100%;
    max-width: 600px;
}
.footer {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }
 
}
@media (max-width:370px) {
    header{
        padding: 6px 4%;
    }
    .home-text h1 {
        font-size: 1.7rem;
    }
    .play {
        right: 2rem;
        bottom: 8%;
    }
    .play .uil {
        padding: 7px;
    } 
    .movies-container {
        grid-template-columns: repeat(auto-fit,minmax(140px,auto));
    }
    .box .box-img{
        width: 100%;
        height: 270px;
        cursor: pointer;
    }
    .coming-container {
        width: 100px; 
    }
    .footer {
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
      }
  
}

.container2 {
    text-align: center;   
    background: #171010;
}
.header2 {
    padding-top: 30px;
    color: #444;
    font-size: 20px;
    color: red;
    margin: auto;
    line-height: 50px;
}
.sub-container {
    max-width: 1200px;
    margin: auto;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.teams {
    margin: 10px;
    padding: 22px;
    max-width: 30%;
    cursor: ponter;
    transition: 0.4s;
    box-sizing: border-box;    
}
.teams:hover {
    background: #444;
    border-radius: 12px;
}
.teams img {
    width: 200px;
    height: 200px;
}
.name {
    color: #888;
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
.design {
    font-style: italic;
    color: #888;

}
.about {
    margin: 20px 0;
    font-weight: lighter;
    color: white;
}
.social-links {
    margin: 14px;
}
.social-links a {
    display: inline-block;
    height: 30px;
    width: 30px;
    transition: .4s;
}
.social-links a i {
    color: #020307
}
.social-links a:hover {
    transform: scale(1.5);

}

@media screen and (max-width: 600px) {
    .teams {
        max-width: 100%;
    }
    .sub-container {
        display: block;
    }
}


.contact-section {
    display: none;
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.contact-info {
    color: #000;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}
.contact-info i {
    margin-right: 20px;
    font-size: 25px;
}
.contact-form{
    max-width: 700px;
    margin-right: 50px;

}
.profile {
    border-radius: 100px;
}
.contact-info, .contact-form {
  flex: 1;
}
.contact-form h2 {
    color: black;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;

}
.contact-form .text-box {
    background: #000;
    color: #fff;
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    margin-bottom: 20px;
    opacity: 0.9;
}
.contact-form .text-box:first-child{
    margin-right: 15px;

}
.contact-form textarea{
    background: #000;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}
.contact-form .send-btn {
    float: right;
    background: #2E94E3;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
}
.contact-form .send-btn:hover {
    background: #0582E3;
}
@media screen and (max-width: 950px) {
    .contact-section {
        flex-direction: column;
    }
    .contact-info, .contact-form {
        margin: 30px 50px;
    }

    .contact-form h2 {
        font-size: 30px;
    }
    .contact-form .text-box{
        width: 100%;

    }
}
.footer {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.social {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.social .uil {
 background: var(--bg-color);
 padding: 2px;
 font-size: 1rem;
 border-radius: 50%;
 border: 4px solid rgb(2, 3, 7, 0.4);
 color: var(--main-color);
}
.social .uil:hover {
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.2s all linear;
}
.copyright {
    padding: 20px;
    text-align: center;
    color: black;
}


