* {
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
/* Some variables */
:root {
    --main-color:#ff2c1f;
    --text-color:#020307;
    --bg-color: #fff;

}
/*Custom scroll bar*/
html::-webkit-scrollbar {
    width: 0.5rem;
    background: var(--text-color);
}
html::-webkit-scrollbar-thumb {
    background:var(--main-color);
    border-radius: 5rem;


/*---Modal---*/
}
.signup-form,
.login-form  {
    z-index: 4;
     position: absolute;
     top: 45%;
     left: 50%;
     transform: translate(-50%, -50%);
     background: #171010;
     border-radius: 10px;
     box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, .2);
     color: white;
     transition: .5s;
     visibility: hidden;
     opacity: 0;

}
.form {
    width: 500px;
    padding: 20px 50px;
}
.form .close {
    text-align: right;
    cursor: pointer;
}
.form .text h1 {
    text-align: center;
    margin: 30px 0;
}
.form form {
    display: block;
    margin: auto ;
}
.form .row {
    display: flex;
    justify-content: space-between;
} 
.form .row input {
    margin-bottom: 0;
}
.form .row input:first-child{
     margin-right: 10px;
}
.form .row input:last-child{
    margin-left: 10px;
}
.form form input {
    width: 100%;
    display: block;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 20px 16px;
    margin: 20px auto;
    outline: none;
}
.signup-form.active,
.login-form.active {
    top: 50%;
    transition: .5s;
    visibility: visible;
    opacity: 1;
}
/*---End of Modal---*/


.container.active {
    filter: blur(20px);
    transition: .5s;
    pointer-events: none;
}

section  {
    padding: 4.5rem 0 1.5rem;
}
body {
    color: var(--bg-color);
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    transition: 0.5s;
    /*background-color: var(--main-color);*/
}
header.shadow {
    background: #171010;
    box-shadow: 0 0 4px rgb(14, 55, 54 / 15%);
}
header.shadow .navbar li {
    color: white;
}
.logo {
    font-size: 1.1.rem;
    font-weight: 600;
    color: var(--bg-color);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    color:red;
}
.logo .uil {
    font-size: 24px;
    color: var(--main-color);
}
.navbar {
    display: flex;
    column-gap: 2.5rem;
}
.navbar li {
    position: relative;
    cursor: pointer;
    color: black;
}
.navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(82, 80, 80);
}
.navbar li::after {
    content: '';
    width: 0;
    height: 2px;
    background: gray;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s all  linear;
}
.navbar li:hover::after {
    width: 100%;
    
}
#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 100001;
    display: none;
}
.btn {
    padding: 0.7rem 1.4rem;
    background: gray;
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
}

.btn:hover {
    background: #171010;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#0f4675,#0f4675 50%, #fff 50%, #fff, 100%);
    
}
.hero {
    margin-top: 100px;
    text-align: center;
    color: black;
    align-items: center;
    object-fit: cover;
    
}
hr {
    border-color: red;
}

.container {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container .box {
    position: relative;
    width: 320px;
    margin: 100px 0;
    padding: 100px 40px 60px;
    box-shadow: 0 15px 45px rgba(0,0,0,.1);
}
.container .box:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #171010;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;

}
.container .box:hover:before {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}
.container .box h2 {
    position: absolute;
    left: 40px;
    top: 60px;
    font-size: 4em;
    font-weight: 800;
    z-index: 1;
    opacity: 0.5;
    transition: 0.5s;

}
.container .box:hover h2 {
    opacity: 1;
    color: white;
    transform: translateY(-40px);
} 

.container .box h3 {
    position: relative;
    font-size: 1.5em;
    z-index: 2;
    color: #333;
    transition: 0.5s;
}
.container .box:hover h3 {
    color: white;
     
}
.container .box p {
   position: relative;
   z-index: 2;
   color: #555;
   transition: 0.5s;
}

.container .box:hover h3,
.container .box:hover p {
    color: white;
}

.footer {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.social {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.social .uil {
 background: var(--bg-color);
 padding: 2px;
 font-size: 1rem;
 border-radius: 50%;
 border: 4px solid rgb(2, 3, 7, 0.4);
 color: var(--main-color);
}
.social .uil:hover {
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.2s all linear;
}
.copyright {
    padding: 20px;
    text-align: center;
    color: black;
}

@media (max-width: 1080px) {
    .home-text {
        padding: 0 100px;
    }
}
@media (max-width: 991px) {
    .header {
        padding: 18px 4%;
    }
    section {
        padding: 50px 4%;
    }
    .home-text {
        padding: 0 4%;
    }
    .home-text h1 {
        font-size: 3rem;
    }
}
@media (max-width: 774px) {
    header {
        padding: 12px 4%;
    }
    #menu-icon {
        display: initial;
        color: black;
    }
    .container .box {
        width: 700px;
        margin: 5px;
    }
    .header.shadow #menu-icon {
        color: var(--bg-color);

    }
    .navbar {
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: white;
        row-gap: 1.4rem;
        padding: 20px;
        box-shadow: 4px 4px 0 4px rgb(14, 55, 54/ 15%);
        transition: 0.2s all linear;
        text-align: center;
    }
    .navbar a {
        color: rgb(73, 73, 73);
        width: 100%;
        
    }
    .navbar a:hover {
        color: gray;
       
    }
    .navbar a::after {
        display: none;
    }
    .navbar.active{
        top: 100%;
    }
    .home-text h1 {
        font-size: 2.4rem;
    }
    .btn {
        padding: 0.6rem 1.2rem;
    }
    .movies-container {
        grid-template-columns: repeat(auto-fit,minmax(180px,auto));
    }
    .footer {
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
      }
      .container .box {
        width: 100%;
        margin: 5px;
    }

@media (max-width:472px) {
  .newsletter form .email {
    width: auto;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }
  .coming {
    width: 230%;
    height: 100%;
    object-fit: cover;
}
.box {
    width: 100%;
    max-width: 600px;
}
.footer {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }
 
}

}
@media (max-width:370px) {
    header{
        padding: 6px 4%;
    }
    .home-text h1 {
        font-size: 1.7rem;
    }
    .play {
        right: 2rem;
        bottom: 8%;
    }
    .play .uil {
        padding: 7px;
    } 
    .movies-container {
        grid-template-columns: repeat(auto-fit,minmax(140px,auto));
    }
    .box .box-img{
        width: 100%;
        height: 270px;
        cursor: pointer;
    }
    .coming-container {
        width: 100px; 
    }
    .footer {
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
      }
  
}



